@import './reset.scss', './card.scss', './modal.scss';

.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 64px;
  left: calc(50% - 140px);
  margin: 0 auto;
  z-index: 9999;
  width: 280px;
  padding: 12px 16px;
  color: #ffffff;
  border-radius: 3px;
  transition: 200ms;
  transform: translateY(16px);
  transform-origin: bottom left;
  // hide element
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.is-visible {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
  }

  p {
    font-size: 14px;
    font-weight: 400;
  }
}

.loader {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.65);
}

.loader::after {
  content: '';
  position: fixed;
  width: 64px;
  height: 64px;
  border: 7px solid #89ca02;
  border-left-color: transparent;
  border-radius: 50%;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(red, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(red, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(red, 0);
	}
}

.camera {
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
}

.identity {
  text-align: center;
}

.current-identity {
  .card.do-backup:nth-of-type(2) {
    .card-footer {
      position: relative;

      &:after {
        content: "";
        width: 38px;
        height: 38px;
        border-radius: 32px;
        transform: scale(1);
        animation: pulse 2s infinite;
        box-shadow: 0 0 0 0 rgba(red, 1);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24' stroke='red'%3E%3Cpath d='M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z'%3E%3C/path%3E%3C/svg%3E");
        position: absolute;
        left: 24%;
        top: -10px;
      }
    }
  }
}

.publicAddress {
  cursor: pointer;
  font-weight: 500;
  word-break: break-word;

  svg {
    margin-right: 8px;
    vertical-align: top;
  }
}

button, .btn {
  cursor: pointer;
}

p.gray-text {
  color: #444444;
  margin-bottom: 12px;
}